[Desktop Entry]
Version=1.0
Type=Link
Name=Python Poland | Czy mógłby ktoś pomóc | Facebook
Comment=
Icon=user-bookmarks
URL=https://www.facebook.com/groups/pythonpl/permalink/4899439990146958/
